COMPOSE_PROJECT_NAME=yembro-edge

CADDY_ACME_EMAIL=ops@example.com
PRIMARY_DOMAIN=app.example.com
STAGING_DOMAIN=staging.example.com

PROD_PUBLIC_NETWORK_NAME=yembro_prod_public
STAGING_PUBLIC_NETWORK_NAME=yembro_staging_public

CADDY_DATA_VOLUME_NAME=caddy_data
CADDY_CONFIG_VOLUME_NAME=caddy_config
