fastapi
uvicorn[standard]
asyncpg
pydantic
pydantic-settings
aiosqlite
sqlalchemy
alembic
taskiq
taskiq-redis
redis
taskiq-fastapi
python-json-logger
pytest
httpx
pytest-asyncio
boto3
qrcode[pil]
python-multipart
aiogram
