{
	email {$CADDY_ACME_EMAIL}
}

{$PRIMARY_DOMAIN} {
	encode zstd gzip

	@backend path /api/* /admin/* /static/* /media/* /health
	handle @backend {
		reverse_proxy prod-api:30000
	}

	handle {
		reverse_proxy prod-frontend:3000
	}
}

{$API_PRIMARY_DOMAIN} {
	encode zstd gzip
	reverse_proxy prod-api:30000
}

{$STAGING_DOMAIN} {
	encode zstd gzip

	@backend path /api/* /admin/* /static/* /media/* /health
	handle @backend {
		reverse_proxy staging-api:30000
	}

	handle {
		reverse_proxy staging-frontend:3000
	}
}

{$API_STAGING_DOMAIN} {
	encode zstd gzip
	reverse_proxy staging-api:30000
}

{$REGISTRY_DOMAIN} {
	encode zstd gzip
	reverse_proxy docker-registry:5000 {
		header_up Host {host}
		header_up X-Forwarded-Proto {scheme}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Host {host}
	}
}
